[user]
    name = Preocts
    email = preocts@preocts.com
    signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIEwrmNCoeJ5mztPvIjRiLGhY1Rhp1M6O7hLjwC2Shd2K
[init]
    defaultBranch = main
[core]
    editor = vim
[pull]
    rebase = false
[gpg]
    format = ssh
[commit]
    gpgsign = true
[gpg "ssh"]
    allowedSignersFile = /home/preocts/.allowed_signers
